.account{
    padding-top: 2rem;
    padding-bottom: 4rem;

    form{
        background-image: linear-gradient(#e12e52 ,#b0124c);
        padding: 1rem 2.5rem;
        border-radius: 1rem;

        img{
            max-width: 20%;
            margin-bottom: 1rem;
            @media (max-width: 575.98px) { 
                max-width: 35%;
            }
        }
        input{
            border: none;
            border-radius: 2rem;
            padding: 1.5rem 1rem;
            margin-bottom: 1.5rem;
        }
        textarea{
            margin-bottom: 1.5rem;
        }
        .btn-save{
            background-color: #240041;
            color: #fff;
            padding: 0.5rem 3rem;
            border-radius: 2rem;
            margin-bottom: 1.5rem;
        }
    }
}