.offers{
    padding: 4rem 0;

    .offer-img{
      width: 60%;
     
        img{
            width: 100%;
            border-radius: 3rem;
        }
        @media (max-width: 991.98px) {
            width: 70%; 
            margin: 0 auto;
            margin-bottom: 1.5rem;
         }
    }
    .offer-content{
        background-image: url("./../../images/offers-bg.jpg");
        background-position: center;
        border-radius: 1rem;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.4);
        padding: 4.5rem 1rem;
        p{
            color: #fff;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        a{
            text-decoration: none;
            background-image: linear-gradient(#e12e52 ,#b0124c);
            color: #fff;
            padding: 0.5rem 2.5rem;
            border: none;
            border-radius: 2rem;
        }
    }
}